<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutorial at the 
	<a href="http://www.rubyonrails.com">Rails Tutorial help page</a>
	To get help on this sample app see
	<a href="http://www.rubyonrails.com">Rails Tutorial book</a>
</p>
