<h1>Sample App</h1>
<p>
	This is the home page for <a href="http://www.rubyonrails.org">Ruby on Rails website</a> application
</p>

<%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>
